<div class="container">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="row" id="single-result">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-sm-4 col-md-4">
            <div class="well">
                <h2 class="text-info">{{ venue.name }}</h2>
                <p><span class="label label-info"></span></p>
                <a href="{{ venue.canonicalUrl }}">{{ venue.canonicalUrl }}</a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>
</div>