/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.input-group-btn {
  font-size: 12px;
}

#search {
  margin-top: 30px;
}

#search select {
  height: 99%;
  margin-right: 10px;
}

.angular-google-map-container {
  border: 1px solid #000000;
  border-radius: 10%;
  height: 400px;
}

.marker-labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 110px;
  border: 2px solid black;
  white-space: nowrap;
}

.angular-google-map {
  border-radius: 10%;
}