<div class="container" ng-controller="SearchController">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" options="'options'" type="'cluster'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
    <div class="row" id="search">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <select ng-model="orderProperty">
                        <option value="name">Alphabetical</option>
                        <option value="location.distance">Closest</option>
                    </select>
                </div>
                <input type="text" class="form-control" name="x" placeholder="Search term..." ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <ul>
        <li ng-repeat="i in items.venues | filter: query | orderBy:orderProperty">
            <div id="venue">{{ i.name }}:</div>
            <div id="distance">{{ i.location.distance }}</div>
        </li>
    </ul>
</div>


